<div class="head">
  <section>
    <div>
      <h1>{{ title | uppercase }}</h1>
    </div>
    <nav>
      <span routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <a [routerLink]="['/']">Home</a>
      </span>
      <span routerLinkActive="active">
        <a [routerLink]="['/time']">Time</a>
      </span>
      <span routerLinkActive="active">
        <a [routerLink]="['/weather']">Weather</a>
      </span>
    </nav>
  </section>
</div>
<section class="information">
  <router-outlet></router-outlet>
</section>